# Binance
BINANCE_API_KEY=your_api_key_here
BINANCE_API_SECRET=your_api_secret_here

# Supabase PostgreSQL (Transaction Pooler)
SUPABASE_DB_URL=jdbc:postgresql://aws-1-eu-west-1.pooler.supabase.com:6543/postgres?prepareThreshold=0&sslmode=disable
SUPABASE_DB_USERNAME=postgres.sduljyubyypvugiwrxxu
SUPABASE_DB_PASSWORD=trapkingarmandodiego
